.git
.github
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env
*.db
deploy/*
!deploy/nginx/
!deploy/nginx/static-site.conf
docs/
firmware/
node_modules/
package-lock.json
README.md
scripts/
tests/

