APP_NAME=checking-sistema
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=sqlite:///./checking.db
FORMS_URL=https://forms.office.com/Pages/ResponsePage.aspx?id=QWJvW1ea5EuOUB36cueaV-4C0XpFTa1LmJM_FjZpp4pUOTFGR1QwSk00Vk5KQ0ExNUMzQldRSkpHWCQlQCN0PWcu&origin=QRCode
TZ_NAME=Asia/Singapore
DEVICE_SHARED_KEY=change-me
ADMIN_SESSION_SECRET=change-admin-session-secret
BOOTSTRAP_ADMIN_KEY=HR70
BOOTSTRAP_ADMIN_NAME=Tamer Salmem
BOOTSTRAP_ADMIN_PASSWORD=eAcacdLe2
WIFI_SSID=TS 14 PRO
WIFI_PASSWORD=00000000
HEARTBEAT_SECONDS=180
FORMS_TIMEOUT_SECONDS=30
FORMS_MAX_RETRIES=3
